/*选择器*/
strong {
    color: red;
}

h2 {
    color: red;
}

/*派生选择器*/
li strong {
    font-style: italic;
    font-weight: normal;
}

h2 strong {
    color: blue;
}

/* ID 选择器 */
#red {
    color: red;
}

#green {
    color: green;
}

/*定义选择器所属元素*/
div#sidebar {
    border: 1px dotted #000;
    padding: 10px;
}

/*ID 选择器& 派生选择器*/
#sidebar p {
    font-style: italic;
    text-align: right;
    margin-top: 0.5em;
}

#sidebar h2 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    line-height: 1.5;
    text-align: right;
}

/*类选择器*/
.center {
    text-align: center;
}

.fancy td {
    color: #ff6600;
    background: #666666;
}

td.fancy {
    color: #ff6600;
    background: #666666;
}

/*属性选择器*/
[title^=He] {
    color: red;
}

input[type="text"]
{
    width:150px;
    display:block;
    margin-bottom:10px;
    background-color:yellow;
}

input[type="button"]
{
    width:120px;
    margin-left:35px;
    display:block;
}